@import '@/assets/scss/variables';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 2.5rem;
  width: 100%;
}

.header__back-link {
  position: absolute;
  left: 0;
  transition: opacity 0.2s ease-in-out;
  padding-left: 1rem;

  &:hover {
    opacity: 0.8;
  }
}

.header__back-link--text {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.header__back-link--img {
  display: none;
}

.header__logo {
  width: 150px;
  height: auto;
}

.header__theme-switcher {
  position: absolute;
  right: 0;
  top: 0.1rem;
  padding-right: 1rem;

  @media (max-width: $mobile-max-width) {
    top: -1.8rem;
    right: -0.8rem;
  }
}
