@import '@/assets/scss/variables';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 2.5rem;
}

.header__back-link {
  position: absolute;
  left: 0;
  transition: opacity 0.2s ease-in-out;
  padding-left: 1rem;

  &:hover {
    opacity: 0.8;
  }
}

.header__back-link--text {
  @media (max-width: 768px) {
    display: none;
  }
}

.header__back-link--img {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.header__logo {
  width: 150px;
  height: auto;
}
