@import '@/assets/scss/variables';

.button {
  outline: none;
  border: none;
  padding: 0.8rem 3rem;
  font-size: $body-font-size;
  border: 1px solid $primary-accent-color;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

.button--primary {
  color: white;
  background: $primary-accent-color;
}

.button--secondary {
  color: $primary-accent-color;
  background: $primary-background-color;
}
