@import '@/assets/scss/variables';

.seat {
  min-width: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $secondary-background-color;
  cursor: pointer;

  &:hover {
    border: 1px solid $primary-accent-color;
  }
}

.pending {
  background: $primary-accent-color;

  &:hover {
    border: 1px solid transparent;
  }
}

.booked {
  background: $secondary-accent-color;
  pointer-events: none;

  &:hover {
    cursor: not-allowed;
    border: none;
  }
}
