@import '@/assets/scss/variables';

.movie-card {
  position: relative;
  display: inline-block;
}

.movie-card__image {
  height: 340px;
  width: 100%;
  object-fit: cover;
}

.movie-card__rating {
  position: absolute;
  background-color: $primary-accent-color;
  color: $primary-background-color;
  font-size: $body-font-size;
  padding: 0.5rem;
  border-radius: 50%;
  right: -19px;
  bottom: 120px;
}

.movie-card__text-container {
  padding: 1rem 0;
}

.movie-card__title {
  font-size: $title-font-size;
}

.movie-card__subtitle {
  font-size: $body-font-size;
  color: $secondary-accent-color;
}
