@import 'variables';
@import 'typography';

/* Resets */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Globals */
a {
  text-decoration: none;
}

body {
  font-family: $primary-font-stack;
  background: $primary-background-color;
}
