@import '@/assets/scss/variables';

.booking-form {
  padding: 1rem;
}

.booking-form__controls {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
  }
}
